{% extends 'base.html' %}
{% load staticfiles %}

{% block block1 %}

<div id="address" style="margin-top:50px;margin-left:50px;">
	
    
    <p align="left" style="margin-left:30px">Made by <a href="https://www.facebook.com/dhruv.sharma.756412">ME</a></p>

    <p align="left" style="margin-left:30px;display:inline;">Mail me : <p style="color:blue;display:inline;">dhsharma27@gmail.com</p></p>
    
    
    <p align="left" style="margin-left:30px;">Powered by <a href="https://docs.djangoproject.com/en/1.8/releases/1.7/">DJango</a></p>


</div>

{% endblock %}