{% extends 'base.html' %}
{% load staticfiles %}

{% block block1 %}
<head>

	<title> LOGIN </title>

	</head>

<body>

<form id="form" method="post" action={% url 'login' %}>

{% csrf_token %}

<div class="form-group">
<label for="exampleInputName2" class="col-sm-2 control-label"><p align="right">Username</p></label> 
	<div class="col-sm-10">
		<input type="text" class="form-control" name="handle" size="30">
	</div>
</div>


</br>
</br>


<div class="form-group">
	<label for="exampleInputPassword1" class="col-sm-2 control-label"><p align="right">Password</p></label>
		<div class="col-sm-10">
			<input type="password" name="password" class="form-control" >
		</div>
</div>

<br />
<br />


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
		<input type="submit" value="Login" class="btn btn-default" />
	</div>
</div>

</form>

	<p style="color: red;">

	{% if error %}
		{% for i in error %}
			{{ i }}
		{% endfor %}
	{% endif %}

	</p> 



</body>


{% endblock %}
